@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MoneySmart</h1>
    <p class="lead">Welcome</p>
    <div class="home-icon w-100 mx-auto">
        <img src="~/bank.svg" alt="Home icon" />
    </div>
    <div class="mx-auto .d-none d-xs-block d-sm-none w-25">
        <a class="btn btn-secondary d-block mb-1" asp-page="./Accounts/Index">Accounts</a>
        <a class="btn btn-secondary d-block mb-1" asp-page="./Transactions/Index">Transactions</a>
    </div>
</div>
