@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MoneySmart</h1>
    <p class="lead">Welcome</p>
    <div class="mb-3">
        <img src="~/bank.svg" alt="Home icon" />
    </div>
    <div class="home-button mx-auto d-sm-none">
        <a class="btn btn-secondary d-block mb-1" asp-page="./Accounts/Index">Accounts</a>
        <a class="btn btn-secondary d-block mb-1" asp-page="./Transactions/Index">Transactions</a>
    </div>
</div>
