@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Hello @(User.Identity.Name)!">Manage</a>
        </li>
        <li class="nav-item ">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                <button class="nav-link btn btn-link" type="submit">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}
