@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-page="/Identity/Account/Logout">Logout</a>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-page="/Identity/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Identity/Account/Login">Login</a>
        </li>
    </ul>
}
