@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
   <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-page="/Transactions/Index">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Transactions
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="/Accounts/Index">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Accounts
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="/Transfers/Index">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Transfers
                    </p>
                </a>
            </li>
        </ul>
    </nav>
}
