@inject SignInManager<IdentityUser> SignInManager

@{
    string IsLinkActive(string viewDataTitle, string linkTitle) => viewDataTitle.Contains(linkTitle) ? "active" : string.Empty;
}

@if (SignInManager.IsSignedIn(User))
{
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column">
            <li class="nav-item">
                <a class="nav-link @IsLinkActive(ViewData["Title"]!.ToString(), "Trasanctions")" asp-page="/Transactions/Index">
                    <i class="nav-icon fas fa-dollar-sign"></i>
                    <p>
                        Transactions
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @IsLinkActive(ViewData["Title"]!.ToString(), "Accounts")" asp-page="/Accounts/Index">
                    <i class="nav-icon fas fa-money-check"></i>
                    <p>
                        Accounts
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @IsLinkActive(ViewData["Title"]!.ToString(), "Transfers")" asp-page="/Transfers/Index">
                    <i class="nav-icon fas fa-exchange-alt"></i>
                    <p>
                        Transfers
                    </p>
                </a>
            </li>
        </ul>
    </nav>
}
