@inject SignInManager<IdentityUser> SignInManager

@{
    string IsLinkActive(string viewDataTitle, string linkTitle) => viewDataTitle.StartsWith(linkTitle) ? "active" : string.Empty;
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="sidebar-custom">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column">
                <li class="nav-item">
                    <a class="nav-link @IsLinkActive(ViewData["Title"]!.ToString(), "Export")" asp-page="/Transactions/Export" title="Export Transactions">
                        <i class="nav-icon fas fa-file-export"></i>
                        <p>
                            Export
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @IsLinkActive(ViewData["Title"]!.ToString(), "Import")" asp-page="/Transactions/Import" title="Import Transactions">
                        <i class="nav-icon fas fa-file-import"></i>
                        <p>
                            Import
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @IsLinkActive(ViewData["Title"]!.ToString(), "About")" asp-page="/About" title="About">
                        <i class="nav-icon fas fa-question-circle"></i>
                        <p>
                            About
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
}
