@page "{number:long}"
@model DeleteModel

@{
    ViewData["Title"] = "Delete Account";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <partial name="_AccountDetails" model="Model.Account" />
    <form method="post">
        <input type="hidden" asp-for="Account.Number" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
