@page "{number:long}"
@model DetailsModel

@{
    ViewData["Title"] = "Account Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <partial name="_AccountDetails" model="Model.Account"/>
</div>
<div>
    <a asp-page="./Edit" asp-route-number="@Model.Account.Number">Edit</a> |
    <a asp-page="./Delete" asp-route-number="@Model.Account.Number">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</div>
