@page
@model IndexModel

@{
    ViewData["Title"] = "Accounts";
}

<h1>Accounts</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div id="accounts">
    <div class="row">
        @foreach (var account in Model.Accounts)
        {
            <div class="col-md-4">
                <partial name="_AccountCard" model="account" />
            </div>
        }
    </div>
</div>
