@page
@model CreateModel

@{
    ViewData["Title"] = "Create Transaction";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="TransactionCreateModel.DateTime"></label>
                <input asp-for="TransactionCreateModel.DateTime" class="form-control" />
                <span asp-validation-for="TransactionCreateModel.DateTime" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TransactionCreateModel.AccountId"></label>
                <select asp-for="TransactionCreateModel.AccountId" asp-items="Model.Accounts" class="form-control"></select>
                <span asp-validation-for="TransactionCreateModel.AccountId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TransactionCreateModel.Description"></label>
                <input asp-for="TransactionCreateModel.Description" class="form-control" />
                <span asp-validation-for="TransactionCreateModel.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TransactionCreateModel.TransactionType"></label>
                <select asp-for="TransactionCreateModel.TransactionType" asp-items="Model.TransactionTypes" class="form-control"></select>
                <span asp-validation-for="TransactionCreateModel.TransactionType" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TransactionCreateModel.Amount"></label>
                <input asp-for="TransactionCreateModel.Amount" class="form-control" />
                <span asp-validation-for="TransactionCreateModel.Amount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TransactionCreateModel.Note"></label>
                <input asp-for="TransactionCreateModel.Note" class="form-control"/>
                <span asp-validation-for="TransactionCreateModel.Note" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
