@page "{id:long}"
@model MoneySmart.Pages.Transactions.DetailsModel

@{
    ViewData["Title"] = "Transaction Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <partial name="_TransactionModel" for="Transaction" />
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Transaction.Id">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Transaction.Id" class="text-danger">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</div>
