@page
@model IndexModel

@{
    ViewData["Title"] = "Transactions";
}

<h1>Transactions</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div id="transactions">
    <partial name="_TransactionModal" />
    @foreach (var item in Model.Transactions)
    {
        <div class="row">
            <div class="col">
                <partial name="_TransactionCard" model="item"/>
            </div>
        </div>
    }
</div>
